<table style="height: 400px;">
    <tbody>
        <tr>
            <td class="align-middle">
                <p class="text-warning font-weight-bold">
                    500! - Something went wrong with the server.
                </p>
                <div class="row justify-content-center">
                <p>
                    <button type="button" 
                    class="btn btn-warning btn-sm" (click)="onClick()">
                        Back to home
                    </button>
                </p>
            </div>
            </td>
        </tr>
    </tbody>
</table>